@{
    if (Session["user"] != null) {
        if ( !Session["isAdmin"].Equals(1)) {
           Response.Redirect("start.cshtml");
        } 
    } else {
        Response.Redirect("Default.cshtml");
    }

    //require("functions/validatePermissions.cshtml");

    string page;

    if (Request.QueryString["page"] != null) {
        //Grab the form from get?form=x to load that form
        page = Request.QueryString["page"].ToString();
    } else {
        page =" ";
    }

    //Connnect to database
    var db = Database.Open("kinglandDatabase");
    var gp = Database.Open("GP");

}

<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" >
	<head >
		<title>Human Resources Control Panel</title>

		
		<link rel='stylesheet' id='stylesheet-css'  href='http://careers.kingland.com/wp-content/themes/builder/style.css?ver=1' type='text/css' media='all' />
		
		<!-- All centralized fonts from google -->
		<link rel='stylesheet' id='bodyfont-css'  href='http://fonts.googleapis.com/css?family=open+sans%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=3.8.3' type='text/css' media='all' />
		<link rel='stylesheet' id='onefont-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=3.8.3' type='text/css' media='all' />
		<link rel='stylesheet' id='twofont-css'  href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=3.8.3' type='text/css' media='all' />
		<link rel='stylesheet' id='threefont-css'  href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=3.8.3' type='text/css' media='all' />
		<link rel='stylesheet' id='fourfont-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=3.8.3' type='text/css' media='all' />
		<link rel='stylesheet' id='fivefont-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=3.8.3' type='text/css' media='all' />
		<link rel='stylesheet' id='sixfont-css'  href='http://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C700%2C700italic&#038;subset=latin%2Cgreek-ext%2Ccyrillic%2Clatin-ext%2Cgreek%2Ccyrillic-ext%2Cvietnamese&#038;ver=3.8.3' type='text/css' media='all' />
		<!-- End Google Fonts -->
		
		<!-- Start Dem Scripts -->
		<script src="scripts/ajaxFunctions.js" type="text/javascript"></script>
		<script src="scripts/HREmployeeFunctions.js" type="text/javascript"></script>
		<script src="scripts/formVerification.js" type="text/javascript"></script>		
		<script src="scripts/random.js" type="text/javascript"></script>  
		<script src="scripts/jQuery.js"></script>
		<script src="scripts/jQueryFunctions.js"></script>
		
		<!-- End Scripts -->
	</head>
	<body style="overflow-y:scroll;background-color:black; cursor:default" >

		<div class="wide_cont" style="background-image:url('');">
		
		<!--TOP-->
		<div class="top_line">
			<div class="container">
				<div class="row">
					<div class="span6">
						<p class="feed"></p>
					</div>
					<div class="span6 soc_icons">
					</div>
				</div>
			</div>
		</div>
		<!--/TOP-->
		 
		<!--PAGE HEAD-->
		<div class="page_head" >
			<div class="container">
				<div class="row">
					<div class="span3">
						<div class="logo">
						
                        <a href="cpanel.cshtml">
							 <img style="float:left;clear:none;" src="http://www.kingland.com/wp-content/uploads/2013/02/ksclogo-4221.png" alt="Careers" />
						</a>
						</div>
					</div>
					<div style="margin-left:1100px;clear:none;">
						<font size="3">Hello, <i> @Session["user"] </i></font><br/>
						<a href="functions/logout.cshtml" style="margin-left:35px">Log Out</a>
					</div>
				</div>
			</div>
		</div>
		<!--/PAGE HEAD-->
		
			<!--WELCOME AREA-->
		<div class="tag_line">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="welcome">
							<h3> 
								<span class="colored">Administration Panel</span>
							</h3>
							
							<a href="cpanel.cshtml">Home</a> | 
                            <a href="?page=add">Add New Employee</a> |
							<a href="?page=welcome">Send Welcome Email | </a>
							<a href="?page=update">Update Company Information | </a>
							<a href="?page=view">View Forms | </a>
						</div>
					</div>
				</div>
			</div>
		</div>
			
		<!-- Main Content Area -->							
		<div class="main_content_area blog_item_page">
			<div class="container" style="width:800px;margin-bottom:25px">
						
					<!--Page content-->
						<div class="row class="post-1613 post type-post status-publish format-standard hentry category-news"" id="post-1613">
							<div class="blog_post_item_description"  style="margin-top:-5px; " >
					
                                       
  										@{ //"Add New Employee"
											if ( page.Equals("add") && Session["isHR"].Equals(1) ) {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4><b>Add Employee</b></h4></span></div></div>
												    <form method="post" action="functions/add.cshtml" style="margin-left:20px;width:625px;" id="addUser">
											    	
													    <p>*First Name:<br/>
													    <input type="text" name="first" id="newFirstName"></p>
													
													    <p>*Last Name:<br/>
													    <input type="text" name="last" id="newLastName" onBlur="updateArea('userID',0,'manualID')"></p>
													
													    <p>Preferred Name (If applicable):<br/>
													    <input type="text" name="preferred"></p>													
												
													    <p>*E-Mail:<br/>
													    <input type="text" name="email" id="newEmail"></p>
													
													    <p>*Actual Start Date (mm/dd/yyyy):<br/>
													    <input type="text" name="actSD" id="newActualStartDate"></p>
													
													    <p style="float:right;clear:none;">
														    *Department:<br/>
														    <select name="dept" id="prDepartment">
															    <option>Select...</option>
                                                                @{
                                                                    //Pull our Departments from GP
                                                                    var Departments = gp.Query("SELECT * FROM UPR40300");

                                                                    foreach ( var dept in Departments ) {
                                                                        if ( @dept.DSCRIPTN.ToString().ToUpper().Contains("NOT USE") == false ) { 
                                                                            <text><option value ="@dept.DEPRTMNT">@dept.DSCRIPTN</text>
                                                                        }
                                                                    }
                                                                }
														    </select>
													    </p>
													
													    <p style="clear:none;">
														    *Position<br/>
														    <select name="position" id="prPosition">
															    <option>Select...</option>
                                                                @{
                                                                    //Pull our Departments from GP
                                                                    var positions = gp.Query("SELECT * FROM UPR40301");

                                                                    foreach ( var position in positions ) {

                                                                        if ( @position.DSCRIPTN.ToString().ToUpper().Contains("NOT USE") == false ) { 
                                                                            <text><option value ="@position.JOBTITLE">@position.DSCRIPTN</text>
                                                                        }
                                                                    }
                                                                }
														    </select>
													    </p>
													
													    <p style="float:right;clear:none">
														    *Supervisor: <br/>
														    <select name="supervisor" id="prSupervisor" alt="GRABS FROM GP - LISTS First, Last -- Links to Email">
															    <option>Select...</option>
                                                                @{
                                                                    //Pull our Departments from GP
                                                                    var Supervisors = gp.Query("SELECT * FROM UPR41700");

                                                                    foreach ( var superV in Supervisors ) {

                                                                        if ( @superV.SUPERVISOR.ToString().ToUpper().Contains("NOT USE") == false ) { 
                                                                            <text><option value ="@superV.EMPLOYID">@superV.SUPERVISOR</text>
                                                                        }
                                                                    }
                                                                }
														    </select>
													    </p>
													
													    <p style="clear:none;">

														    *Employee Type:<br/>
														    <select name="empType" id="prEmployeeType">
															    <option>Select...</option>
															    <option>Intern</option>
															    <option>Part time</option>
															    <option>Full Time</option>
														    </select>														
													    </p>
													
													    <p style="float:right;clear:none">
													    <input type="checkbox" name="userIsDRA" value="yes">
													    Is this user a DRA?
													    </p>
													
													    <p style="clear:none;">
														    Location:<br/>
														    <select name="location" id="prLocation">
														    <option> Select... </option>

                                                    @{
                                                        var locations = db.Query("SELECT * FROM location");
                                               
                                                                        
                                                        foreach (var loc in locations) {
                                                                <option>@loc.location</option>
                                                        }
                                                     }

												    </select>
													    </p>
										
													
												    <hr>
												
												    <p>
												    Manually enter user ID:<br/>
												    <input type="text" name="manualID" id="manualID" >
												    </p>
												
												    <p>
												    Manually Enter Password:<br/>
												    <input type="text" name="manualPassword">
												    </p>
													
													    <a onClick="validateAddEmployee()" style="margin-left:540px; cursor: pointer; cursor: hand;">Add Employee</a>
												    </form>
											} 
                                             
                                             //"Send Welcome Email"
                                             else if ( page.Equals("welcome") && Session["isHR"].Equals(1) ) {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4><b>Send Welcome Email</b></h4></span></div></div>
												
                                                var users = db.Query("SELECT * FROM users");

												<div id="select" style="padding-right:50px;padding-left:50px;"><b>Select a user</b>:<br/>
												    <select id="myList" onChange="updateArea('showForm','welcome',0)">
											 	    <option>Choose Employee</option>
 
												
                                                    @foreach (var person in users ){
                                                        <option value="@person.user">@person.user</option>
                                                    }

												    </select>
                                                </div>
												
												<div id="displayForm"></div>

											// "Update Company Information"
											} else if ( page.Equals("update") && Session["isHR"].Equals(1) ) {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4 style="text-align: center">Edit Form Information</h4></span></div></div>
													
													<p><center>We understand that, over time, information may change or become obsolete. So we have tried to
													combat that issue!<br/>
													Choose an item from one of the drop down lists to modify information related to it.<br/><br/>
													For any drop down list, you may select the bottom "Add New" to create a new entry for that.<br/>
													You may also
													delete that entry by selecting it and checking the "Delete" box!</center></p><br/><br/>
													
												<form method="post" action="handlers/updateInformation.cshtml" id="updateInfo">
                                                    @RenderPage("forms/updateInformation.cshtml");
												</form>
												 
											<a onClick="document.getElementById('updateInfo').submit();" style="margin-left:625px">Submit</a>
												
                                            
                                            //"View Forms"
                                            } else if ( page.Equals("view") && Session["isHR"].Equals(1) ) {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4><b>View New Hires</b></h4></span></div></div>

                                                    var users = db.Query("SELECT * FROM users"); 
                                                    //Select which employee to view for

                                                <div>
                                                    <div id="select" style="clear: none; float: left; margin-left: 100px;"><b>Select a user</b>:<br/>
												        <select id="myList" onChange="showForm(0)">
											 	            <option>Choose Employee</option>

                                                            @foreach (var person in users) {
                                                                    <option value="@person.user">@person.user</option>
                                                            }

												        </select>
                                                    </div>

                                                    <!--Select which form to view-->
                                                    <!-- Currently removed due to lazyness with making things pretty 

                                                    <div id="formSelect" style=" clear: none;  float: right; margin-right: 100px;"><b>Select a form</b>:<br/>
                                                        <select id="formList" onChange="showForm(this.value)">
                                                            <option value="status" selected="selected">Forms Status</option>
                                                            <option value="HM">Hiring Manager Form</option>
                                                            <option value="IT">IT Form</option>
                                                            <option value="PR">Payroll Form</option>
                                                        </select>
                                                    </div>
                                                    -->
                                                    <br /><br /><br />
                                                </div>

                                                <hr>
												
												    <!--This shows the forms to display -- Replaced with ajax from updateUser.cshtml-->
												    <div id="showStatus" style="margin-top:15px"></div>
												
												    <!--This shows the form selected above to display -- Replaced with ajax from updateForm.cshtml-->
												    <div id="displayForm"></div>
                                             } 
                                            
                                            //"User added succesfully"
                                            else if ( page.Equals("addSuccess") ) {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4 style="text-align: center"><b>Employee created successfully!</b></h4></span></div></div>
													<p style="text-align: left">
														The new employee's account was created succesfully.<br />
														The hiring manager has been sent an email to begin filling out the appropriate paper work.
														The can expect to recieve this email within 24 hours.<br /><br/>


														<a href='cpanel.cshtml'>Click here to return to home</a>
													</p>		
											
											} 
                                            
                                            //"User email sent"
                                            else if ( page.Equals("emailSent")) {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4 style="text-align: center"><b>Email sent successfully!</b></h4></span></div></div>
													<center>	
														<p>
															The new Employee has be sent an email containing all the information neccessary to fill out the paper work.
															They should expect to recieve this email within 24 hours.
														</p>
														
														<p>
															<a href='cpanel.cshtml'>Click here to return to home</a>
														</p>
													</center>											
													
											//"Form Submitted Succesfully"
											} else if ( page.Equals("formSuccess") ) {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4 style="text-align: left"><b>Form submitted successfully!</b></h4></span></div></div>
													<center>	
														<p>
															The form was submitted succesfully.<br/>
															To confirm the information was processed and entered correctly, you can navigate back to where it was filled out and confirm the values.<br/><br/>
															Thank you!
														</p>
														
														<p>
															<a href='cpanel.cshtml'>Click here to return to home</a>
														</p>
													</center>
											}
											
										//"homepage" to display.
                                        else  {
<div class="blog_head blog_inner"><div class="meta"><span   class="last_item"><h4 style="text-align: center"><b>Welcome to the New Hire Portal!</b></h4></span></div></div>
                                            <p>
                                                Hello and welcome to the New Hire Portal! If you have any questions along the way, please refer to the FAQ at the bottom of the page.<br /><br />
                                                <b>Human Resources</b><br />
                                                In order to add a new employee, you must follow the "Add New Employee" link and fill out the entire form. At this point, an email will be sent to the Hiring Manager and IT to fill out the required forms. 
                                                Once you are ready for the employee to login and fill out their pre-employment forms, you can click "Send Welcome Email", select the user, and send an email to instruct them on the next steps. Until this point, their account will be inactive and unable to login. 
                                                Somewhere along the way you will also need to complete the Payroll Status Change form. To do this, click "forms" and select the user and Payroll Status Change form. Fill this out and submit it when ready. You will need to have this Reviewed and approved. 
                                                At this point, you will be done until IT, the employee, and the Hiring Manager have completed their portions. When this happens, you will be emailed and will have to login and navigate to "View Forms", select the user, and click "Finalize Submission" will be in place of the status bar you would otherwise see.<br /><br />

                                                <b>Hiring Managers</b><br />
                                                If you have been emailed as a Hiring Manager, please navigate to the "View Forms" page, select the user, and then complete the Hiring Manage form. This is all that is required of you.<br /><br />

                                                <b>IT</b><br />
                                                If you have been emailed as an IT professional, please navigate to the "View Forms" page, select the user, and then complete the IT Form. This is all that is required of you.<br /><br />
                                            </p>
										}
                                     }
                                            
								</div>
						</div>
					<!--/Page content-->
			</div>
		</div>
		<!-- End Main Content Area -->

		<!--FOOTER-->
		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="span3">			
						<div class="textwidget">
							<img src="http://careers.kingland.com/wp-content/uploads/2013/12/logo.png"/>
						</div>
					</div>
					<div class="span3">
						<div class="textwidget">
							<h6 style="text-transform: uppercase !important; font-weight:600; !important">Clear Lake Facility</h6><hr>
							<div class="textwidget">
							1401 6th Ave. South<br>
							Clear Lake, IA 50428<br>
							(641) 355-1000
							</div>
						</div>
					</div>
					<div class="span3">			
						<div class="textwidget">
							<h6 style="text-transform: uppercase !important; font-weight:600; !important">Ames Facility</h6><hr>
							<div class="textwidget">
								114 Wlech Ave.<br>
								Ames, IA 50014<br>
								(515) 268-7020
							</div>
						</div>
					</div>
					<div class="span3">
						<h6 style="text-transform: uppercase !important; font-weight:600; !important">Dalian Facility</h6><hr>
						<div class="textwidget">
							Kingland Software Company Limited<br>
							No. 36 East Software Park Road<br>
							Dalian, China 116023
						</div>
					</div> 
				</div>
			</div>
		</div>
		
		<div class="bottom_line" style="border-top:1px solid #444444;">
			<span style="font-size:11px;margin-left:25px;">Copyright 2014 - Kingland Systems Corporation</span>
			<span style="font-size:11px;float:right; padding-right:10px;"><a href="mailto:humanresource@kingland.com?Subject=Message%20From%20Newhire%20Portal">E-mail Us</a></span>
			<span style="font-size:11px;float:right; padding-right:10px;"><a href='#' onClick='showFAQ()'>Frequently Asked Questions  </a></span>
			<span style="font-size:11px;float:right; padding-right:10px;"><a href='#' onClick='showSecurity()'>Our Security Measurements</a></span>
			
		</div>
		<!--/FOOTER-->
	</body>
</html>