@{
    //Establish this user
    var user = Session["user"];
    
    //Connect to database
    var db = Database.Open("kinglandDatabase");

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

@{
    //Query to grab information from user table (First/Last Name)
    var bckFill = db.QuerySingle("SELECT * FROM users WHERE user = @0", user);
}

        <h4 style="margin-left:50px">Additional Information</h4>
		<form method="post" id="form1" action="handlers/form1handler.cshtml" style="margin-left:80px;width:625px">
            @Html.ValidationMessage("first")<br />
		    *First Name: <input type="text" id="firstNameText" name="first" value = "@bckFill.first" >
		    @Html.ValidationMessage("last")<br />
            *Last Name: <input type="text" id="lastNameText" name="last" value = "@bckFill.last" >

@{
     //Query to grab all Additional Information 
     bckFill = db.QuerySingle("SELECT * FROM addInfo WHERE user = @0", user);
}
            <!-- Output form and backfill information from the DB -->
            *Home Phone: <input type="text" id="homePhoneText" name="hPhone" value = "@bckFill.hPhone" >
            *Cell Phone: <input type="text" id="cellPhoneText" name="cPhone" value = "@bckFill.cPhone" >
            *Emergency Contact Name: <input type="text" id="emergencyContactNameText" name="ICEName" value = "@bckFill.ICEName" >
            *Emergency Contact Home Phone Number: <input type="text" id="emergencyHomePhoneNumberText" name="ICEHPhone" value = "@bckFill.ICEHPhone" >
            *Emergency Contact Work Phone Number: <input type="text" id="emergencyWorkPhoneNumberText" name="ICECPhone" value = "@bckFill.ICECPhone" >
            *Relationship to Employee: <input type="text" id="relationshipText" name="ICERel" value = "@bckFill.ICERel" >


		    <label style="font-size:11px"><b>Responding to the following questions is voluntary. This information will be used for tracking purposes only.</b></label><br /><br />


		    <label>Ethnic Classification:</label>

		    <div style="margin-left:15px">
			
			    <input type="radio" name="ethnicity" value="Caucasian" @if(@bckFill.ethnicity == "Caucasian") {<text>checked</text> }>Caucasian<br />

                <input type="radio" name="ethnicity" value="African American" @if(@bckFill.ethnicity == "African American") {<text>checked</text> }>African American<br />

                <input type="radio" name="ethnicity" value="Hispanic" @if(@bckFill.ethnicity == "Hispanic") {<text>checked</text> }>Hispanic<br />

                <input type="radio" name="ethnicity" value="Asian/Pacific Islander" @if(@bckFill.ethnicity == "Asian/Pacific Islander") {<text>checked</text> }>Asian/Pacific Islander<br />

                <input type="radio" name="ethnicity" value="Native American" @if(@bckFill.ethnicity == "Native American") {<text>checked</text> }>Native American<br />
			
			 </div><br />

			<label>Are You Disabled?</label>
			
            <div style="margin-left:15px">
                <input type="radio" name="disabled" value="yes" @if(@bckFill.disabled == "yes") {<text>checked</text> }> Yes<br />
                <input type="radio" name="disabled" value="no" @if(@bckFill.disabled == "no") {<text>checked</text> }> No<br />
			</div><br />
			
		    <label>If yes, do you need accommodations in order to perform your job at Kingland Systems?</label>
		    
            <div style="margin-left:15px">
                <input type="radio" name="disAcom" value="yes" @if(@bckFill.disAcom == "yes") {<text>checked</text> }> Yes<br />
			    <input type="radio" name="disAcom" value="no" @if(@bckFill.disAcom == "no") {<text>checked</text> }> No<br />
			</div><br />
			
		    <label>If yes, please explain:</label>
			     <input type="text" name="acomExp" value="@bckFill.acomExp"><br /><br />
				
		    <label>Please check all that apply: </label>

		    <div style="margin-left:15px">
		        <input type="checkbox" name="vet" value="I am a Vietname Veteran" @if(@bckFill.disAcom == "I am a Vietname Veteran") {<text>checked</text> }>I am a Vietname Veteran<br />
                <input type="checkbox" name="disVet" value="I am a disabled Veteran" @if(@bckFill.disAcom == "I am a disabled Veteran") {<text>checked</text> }>I am a disabled Veteran<br />
                <input type="checkbox" name="vet" value="None of the above" @if(@bckFill.disAcom == "None of the above") {<text>checked</text> }>None of the above<br />
		    </div>
			  <a style="margin-left:520px;font-size:14px;cursor: pointer; cursor: hand;" onClick="this.submit()" > Next </a>
	    </form>
    </body>
</html>
