@{
    //Establish this user
    var user = Session["user"];
    
    //Connect to database
    var db = Database.Open("temp");

    //Create formchecking stuff here.  
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        @{
             //Query to grab all Additional Information 
             bckFill = db.QuerySingle("SELECT * FROM authAgree WHERE user = @0", user);
        }
            <h4 style="margin-left:50px">Authorization Agreement for Direct Deposit</h4>

			    <form method="post" action="handlers/form2handler.php" id="form2" style="margin-left:80px;width:625px">

                    <b>Company Name:</b> Kingland Systems Corporation &emsp;<b>Company ID:</b> 42-1396894
			        <br /><br />
					
			        <label></label> I (we) hereby authorize Kingland Systems Corporation, hereinafter, called COMPANY, to initiate Credit entries (deposits) and to initiate, if necessary, debit entries and
			        adjustments for any credit entries made in error to my account as indicated below and for the bank/financial institution, hereinafter called DEPOSITORY, to credit and/or debit the same to such account.</lable><br /><br />;
			        
				    <input type="radio" id="newAuthorization" name="authType" value="New" @if(@bckFill.authType == "New") {<text>checked</text>>New Authorization 
				    <input type="radio" id="changeAuthorization" name="authType" value="Change" @(bckFill.authType == "Change") {<text>checked</text>>Change Authorization <br /><br />
				
				    *Effective Date: </br>
				    <input type="text" name="effectDate" value = "@bckFill.effectDate" id="effectiveDate" ><br />

			        <hr>

			        <label><b>Account #1</b></label>&emsp;<label>Default Account - Net pay will be deposited into this account.</lable><br />

				    <input type="radio" name="acc1type" id="checkingAccount1" value="Checking" @if(@bckFill.authType == "Checking") {<text>checked</text> }>Checking Account 
				    <input type="radio" name="acc1type" id="savingsAccount1" value="Savings" @if(@bckFill.authType == "Savings") {<text>checked</text> }>Savings Account 
				    <input type="radio" name="acc1type" id="paycard" value="Paycard/Debit" @if(@bckFill.authType == "Paycard/Debit") {<text>checked</text> }>Paycard/Debit <br />
			        <lable>(note: Number on the face of the card is not the account number)</lable><br /><br />
				
			       
				    *Depositary Name: <br />
				    <input  type="text" name="acc1depoName" id="depositaryName1" value="@bckFill.acc1depoName" >
				
				    *Routing Number: <br />
				    <input  type="text" name="acc1routNum" id="routingNumber1" value = "@bckFill.acc1routNum" >

				    *Account Number: <br />
				    <input type="text" name="acc1accNum" id="accountNumber1" value = "@bckFill.acc1accNum" ><br />
				
			        <hr>

			        <label><b>Account #2</b></label><br />
				    <input type="radio" name="acc2type" id="checkingAccount2" value="Checking" @if(@bckFill.acc2Type == "Checking") {<text>checked</text> }>Checking Account  &nbsp
				    <input type="radio" name="acc2type" id="savingsAccount2" value="Savings" @if(@bckFill.acc2Type == "Savings") {<text>checked</text> }>Savings Account  &nbsp <br /><br />
			        
				    Amount to be desposited each pay period: </br>
				    <input type="text" name="acc2amt" id="account2Amount" value = "@bckFill.acc2amt" >
				
				    Depositary Name: </br> 
				    <input type="text" name="acc2depoName" id="depositaryName2" value = "@bckFill.acc2depoName" >
			        
				    Routing Number: </br>
				    <input type="text" name="acc2routNum" id="routingNumber2" value = "@bckFill.acc2routNum" >

				    Account Number: </br> 
				    <input type="text" name="acc2accNum" id="accountNumber2" value = "@bckFill.acc2accNum" ><br />

			        <hr>
				
			        <label>Are these electronic funds (full amount of payroll) being forwarded to a foreign bank?</label><br />>
				    <input type="radio" name="foreignBank" id="foreignYes" value="yes" @if(@bckFill.foregignBank == "yes") {<text>checked</text> }>Yes  &nbsp
				    <input type="radio" name="foreignBank" id="foreignNo" value="no" @if(@bckFill.foregignBank == "no") {<text>checked</text> }>No  &nbsp <br /><br />
			       
				
			        <label>This authorization is to remain in full force and effect until COMPANY has received written notification from me (or either of us) of its termination in such time and
			        in such manner as to afford COMPANY and DEPOSITORY a reasonable opportunity to act on it.</label> <br /><br />

			        *Social Security Number: <label style="color:blue; text-decoration:underline;" size="1" onClick="alert(\'We will only steal your identity and ruin your entire life!\');">
			        Why do we need this?</label><input type="text" name="soc" id="SSN" value = "@bckFill.soc" ><br />

				    <input type="checkbox" id="directDepositAgree" name="agree" value="agree" @if(@bckFill.agree == "no") {<text>checked</text> }>I have fully read, understand, and agree to these terms.
				    
				    *Signature: :<br />
				    <input type="text" name="signature" id="directDepositSignature"  value="@bckFill.signature" >
			       
				
			        <hr>
				
			        <p>
				        *Please Bring a void check or a blank depositary reciept on your first day.
			        </p>
				
			        <p>
				        I voluntarily authorize Kingland Systems to forward my regular payrool checks by mail, or due to special cirumstances a paycheck is requested mailed. 
				        I understand that without such written authorization, the employer may no longer forward my check by mail, 
				        I further understand that this authorization may be revoked at any tme with written notice to the employer.<br /><br />
					
				        Alternative: If you do not want to voluntarily authorize this process, then you are agreeing to picking up all said paychecks in person at one of our office locations<br /><br />
					
					    <input type="radio" id="authorize" name="voluntaryAgree" value="agree" @if(@bckFill.voluntaryAuth == "agree") {<text>checked</text> }>I agree to the authorization terms and conditions <br />
						<input type="radio" id="doNotAuthorize" name="voluntaryAgree" value="disagree" @if(@bckFill.voluntaryAuth == "disagree") {<text>checked</text> }>I do NOT agree to the authorization, and agree to the alternative terms and condition<br /><br />
				        
				        Signature: <br />
				        <input type="text" name="voluntaryAuthSignature" id="voluntaryAuthSignature" value="@bckFill.voluntaryAuthSignature">
			        </p>

				        <a style="font-size:14px;" href="start.php?form=1"> Back </a>
				        <a style="margin-left:520px;font-size:14px;cursor: pointer; cursor: hand;" onClick="validateDirectDeposit()" > Next </a>
		        </form>
    </body>
</html>
