@{  
  //Connect to database
  var db = Database.Open("kinglandDatabase");

  var bckFill = db.QuerySingle("SELECT * FROM hmForm WHERE user = @0", myUser);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
      <form method="post" action="handlers/hmFormHandler.php" id="hmForm" style="margin-left:80px;width:625px">
  
  		<p>
  			*Special Install (Any additional Software the Hiring Manager Requests):<br />
  			<input  type="text" name="specialInstall" value="@bckFill.specInstall" id="specialInstall">
  		</p>
  
  		<p>
  			*PC Requirement:<br />
  			<input type="text" name="pcRequirement" value="@bckFill.pcReq" id="pcRequirement">
  		</p>
  
  		<p>
  			*Desk Location:<br />
  			<input type="text" name="deskLocation" value="@bckFill.deskLoc" id="deskLocation">
  		</p>
  
  		<p>
  			*Assigned network Port:<br />
  			<input type="text" name="assignedNetworkPort" value="@bckFill.netPort" id="assignedNetworkPort">
  		</p>
  
  		<p>
  			*User Permission:<br />
  			<input type="text" name="userPermission" value="@bckFill.permission" id="userPermission">
  		</p>
  	
  			<input type="hidden" name="user" value="user">
  
  		<p>
  			MKS Access:<br />
  			<input type="radio" name="mks" value="yes" id="mksYes" @if(@bckFill.mks == "yes") {<text>checked</text> }> Yes<br />
  			<input type="radio" name="mks" value="no" id="mksNo" @if(@bckFill.mks == "no") {<text>checked</text> }> No<br />
  		</p>
  
  		<a href="#" onClick="validateHiringManager()" style="margin-left:625px">Submit</a>
  	</form>
      
    </body>
</html>
