@{
    //Grab the username from the page data being passed
    var myUser = PageData[0];    

    //Connect to database
    var db = Database.Open("kinglandDatabase");

    //Grab data to backfill
    var bckFill = db.QuerySingle("SELECT * FROM users WHERE user = @0", myUser);
    var bckFillHM = db.QuerySingle("SELECT * FROM hmForm WHERE user = @0", myUser);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form method="post" action="handlers/itFormHandler.cshtml" id = "itForm" style="margin-left:80px;width:625px">
            <p>
                *First Name:<br />
        		    <input type="text" name="first" id="hrFirstName" value = "@bckFill.first" >
    		    </p>
        
        		<p>
        		    *Last Name:<br />
        		    <input type="text" name="last" id="hrLastName" value = "@bckFill.last" >
    		    </p>
        
        		<p>
        		    Preferred Name (If applicable):</br>
        	    	<input type="text" name="preferred" value = "@bckFill.prefName" >
    	    	</p>													
        
        		<p>
        		    *E-Mail:<br />
        		    <input type="text" name="email" id="hrEmail" value = "@bckFill.email" >
    		    </p>
        
        		<p>
        		    *Position:<br />
        	    	<input type="text" name="position" value = "@bckFill.position" id="hrPosition" >
    	    	</p>
        
        		<p>
      		      *Department:<br />
        		    <input type="text" name="dept" value = "@bckFill.dept" id="hrDepartment" >
    		    </p>
        
        		<p>
        		    *Actual Start Date (mm/dd/yyyy):<br />
        		    <input type="text" name="actSD" value = "@bckFill.startDate" id="hrActualStartDate" >
    		    </p>
          
        		<p>
        		    *Hiring Manager (kingland ID):<br />
            		<input type="text" name="hm" value = "@bckFill.hmName" id="hrHiringManager" >
        		</p>
        
        		<p>
        		    *Hiring Manager E-Mail:<br />
        		    <input type="text" name="hmemail"  value = "@bckFill.hmemail" id="hrHiringManagerEmail" >
    		    </p>
            <p>
      			    *Special Install (Any additional Software the Hiring Manager Requests):<br />
      			    <input  type="text" name="specialInstall" value="@bckFillHM.specInstall" id="specialInstall">
        		</p>
          
        		<p>
      			    *PC Requirement:<br />
      			    <input type="text" name="pcRequirement" value="@bckFillHM.pcReq" id="pcRequirement">
        		</p>
          
        		<p>
    			      *Desk Location:<br />
          			<input type="text" name="deskLocation" value="@bckFillHM.deskLoc" id="deskLocation">
        		</p>
          
        		<p>
          			*Assigned network Port:<br />
          			<input type="text" name="assignedNetworkPort" value="@bckFillHM.netPort" id="assignedNetworkPort">
        		</p>
          
        		<p>
          			*User Permission:<br />
          			<input type="text" name="userPermission" value="@bckFillHM.permission" id="userPermission">
        		</p>
          	
      			<input type="hidden" name="user" value="user">
          
        		<p>
          			MKS Access:<br />
          			<input type="radio" name="mks" value="yes" id="mksYes" @if(@bckFillHM.mks == "yes") {<text>checked</text> }> Yes<br />
          			<input type="radio" name="mks" value="no" id="mksNo" @if(@bckFillHM.mks == "no") {<text>checked</text> }> No<br />
        		</p>
      		
        		<input type="hidden" name="myUser" value="@myUser">
        		<a href="#" onClick = "validateITForm()" style="margin-left:500px">Change / Confirm</a>
        	</form>
		
    </body>
</html>
