@{
    //Grab the username from the page data being passed
    var myUser = PageData[0];    

    //Connect to database
    var db = Database.Open("kinglandDatabase");
    var gp = Database.Open("GP");

    //Grab data to backfill
    var bckFill = db.QuerySingle("SELECT * FROM users WHERE user = @0", myUser);
    var bckFillHM = db.QuerySingle("SELECT * FROM hmForm WHERE user = @0", myUser);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <form method="post" action="handlers/itFormHandler.cshtml" id = "itForm" style="margin-left:80px;width:625px">

            <p>
                *First Name:<br />
        		<input type="text" name="first" id="hrFirstName" value = "@bckFill.first" >
    		</p>
        
        	<p>
        		*Last Name:<br />
        		<input type="text" name="last" id="hrLastName" value = "@bckFill.last" >
    		</p>
        
        	<p>
        		Preferred Name (If applicable):</br>
        	    <input type="text" name="preferred" value = "@bckFill.prefName" >
    	    </p>													
        
        	<p>
        		*E-Mail:<br />
        		<input type="text" name="email" id="hrEmail" value = "@bckFill.email" >
    		</p>
        
	        <p style="float:right;clear:none">
		        *Supervisor: <br/>
		        <select name="supervisor" id="hrSupervisor" >
			        <option>Select...</option>
                    @{
                        //Pull our Departments from GP
                        var Supervisors = gp.Query("SELECT * FROM UPR41700");

                        foreach ( var superV in Supervisors ) {
                            //Grab supervisors
                            if ( @superV.SUPERVISOR.ToString().ToUpper().Contains("NOT USE") == false ) {
                                //Backfill
                                if ( @superV.EMPLOYID.ToString().ToUpper().Trim().Contains(@bckFill.hmName) ) {
                                    <text><option value ="@superV.EMPLOYID" selected="selected">@superV.SUPERVISOR</option></text>
                                    
                                } else {
                                    <text><option value ="@superV.EMPLOYID" selected="selected">@superV.SUPERVISOR</option></text>
                                }
                            }
                        }
                    }
		        </select>
	        </p>
		
	        <p>
		        *Position<br/>
		        <select name="position" id="hrPosition">
			        <option>Select...</option>
                    @{
                        //Pull our Departments from GP
                        var positions = gp.Query("SELECT * FROM UPR40301");

                        foreach ( var position in positions ) {

                            //Exclude DO NOT USE
                            if ( @position.DSCRIPTN.ToString().ToUpper().Contains("NOT USE") == false ) {
                                //Backfill value
                                if ( @position.JOBTITLE.ToString().ToUpper().Contains(@bckFill.position) ) {
                                    <text><option value ="@position.JOBTITLE" selected="selected">@position.DSCRIPTN</text>
                                } else {
                                    <text><option value ="@position.JOBTITLE">@position.DSCRIPTN</text>
                                }
                            }
                        }
                    }
		        </select>
	        </p>
	
	        <p>
		        *Department:<br/>
		        <select name="dept" id="hrDepartment">
			        <option>Select...</option>
                    @{
                        //Pull our Departments from GP
                        var Departments = gp.Query("SELECT * FROM UPR40300");

                        foreach ( var dept in Departments ) {
                            if ( @dept.DSCRIPTN.ToString().ToUpper().Contains("NOT USE") == false ) {
                                if ( @dept.DEPRTMNT.ToString().ToUpper().Contains(@bckFill.dept) ) {
                                    <text><option value ="@dept.DEPRTMNT" selected="selected">@dept.DSCRIPTN</text>
                                } else {
                                    <text><option value ="@dept.DEPRTMNT">@dept.DSCRIPTN</text>
                                }
                            }
                        }
                    }
		        </select>
	        </p>
        
        	<p>
        		*Actual Start Date (mm/dd/yyyy):<br />
        		<input type="text" name="actSD" value = "@bckFill.startDate" id="hrActualStartDate" >
    		</p>

            <p>
      			*Special Install (Any additional Software the Hiring Manager Requests):<br />
      			<input  type="text" name="specialInstall" value="@bckFillHM.specInstall" id="specialInstall">
        	</p>
          
        	<p>
      			*PC Requirement:<br />
      			<input type="text" name="pcRequirement" value="@bckFillHM.pcReq" id="pcRequirement">
        	</p>
          
        	<p>
    			*Desk Location:<br />
          		<input type="text" name="deskLocation" value="@bckFillHM.deskLoc" id="deskLocation">
        	</p>
          
        	<p>
          		*Assigned network Port:<br />
          		<input type="text" name="assignedNetworkPort" value="@bckFillHM.netPort" id="assignedNetworkPort">
        	</p>
          
        	<p>
          		*User Permission:<br />
          		<input type="text" name="userPermission" value="@bckFillHM.permission" id="userPermission">
        	</p>
          	
      		<input type="hidden" name="user" value="user">
          
        	<p>
          		MKS Access:<br />
          		<input type="radio" name="mks" value="yes" id="mksYes" @if(@bckFillHM.mks == "yes") {<text>checked</text> }> Yes<br />
          		<input type="radio" name="mks" value="no" id="mksNo" @if(@bckFillHM.mks == "no") {<text>checked</text> }> No<br />
        	</p>
      		
        	<input type="hidden" name="myUser" value="@myUser">
        	<a href="#" onClick = "validateITForm()" style="margin-left:500px">Change / Confirm</a>
        </form>
    </body>
</html>
