@{
    


//Connnect to database and query to check if this form is done
    var db = Database.Open("kinglandDatabase");

    //Check Add Info
    var formInfo = db.QuerySingle("SELECT * FROM addInfo WHERE user =  @0", user);
    var aiStat = @formInfo.isDone;

    //Check Direct Deposit
    formInfo = db.QuerySingle("SELECT * FROM authAgree WHERE user =  @0", user);
    var ddStat = @formInfo.isDone;

    //Check Safe Harbor
    formInfo = db.QuerySingle("SELECT * FROM safeHarbor WHERE user =  @0", user);
    var shStat = @formInfo.isDone;

    //Check tech Agree
    formInfo = db.QuerySingle("SELECT * FROM techAgree WHERE user =  @0", user);
    var taStat = @formInfo.isDone;

    //Check handbookReceipt
    formInfo = db.QuerySingle("SELECT * FROM handbookReceipt WHERE user =  @0", user);
    var ehStat = @formInfo.isDone;

    //Check tax info
    formInfo = db.QuerySingle("SELECT * FROM users WHERE user =  @0", user);
    var w4Stat = @formInfo.w4Done;
    var i9Stat = @formInfo.i9Done;
    var iaTaxStat = @formInfo.iaTaxDone;

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>

        @{
            if ( @aiStat == 1 &&  @ddStat == 1 && @shStat == 1 && @ehStat == 1 && @shStat == 1 && @taStat == 1 && @w4Stat == 1 && @i9Stat == 1 && @iaTaxStat == 1 ) {
                <h4 style='margin-left:50px'>Review & Submit</h4>
				  <form method='post' action='handlers/reviewhandler.php' id='form11' style='margin-left:80px;width:625px'>
				  <p>
					<center>
						Please review the information entered in the previous forms to ensure accuracy. 
						If everything looks acceptable, click finish below and you will receive further instruction from your hiring manager soon!
					</center>
				  </p>
					<a style='font-size:14px;' href='start.php?form=9'> Back </a>
					<a style='margin-left:520px;font-size:14px;cursor: pointer; cursor: hand;' onClick='submitFrontForm(11)' > Finish </a>
				  </form>
			} else {
				if ( @aiStat != 1 ) {
					<text><a href='start.cshtml?form=2'>Direct Deposit</a> | </text>
				} if ( @ddStat != 1 ) {
					<text><a href='start.cshtml?form=3'>Student Verification</a> | </text>
				} if ( @shStat != 1 ) {
					<text><a href='start.cshtml?form=4'>Employee Handbook</a> | </text>
				} if ( @ehStat != 1 ) {
					<text><a href='start.cshtml?form=5'>Safe Harbor</a> | </text>
				} if ( @shStat != 1 ) {
					<text><a href='start.cshtml?form=6'>Technology Agreement</a> | </text>
				} if ( @taStat != 1 ) {
					<text><a href='start.cshtml?form=7'>W-4 Tax Form</a> | </text>
				} if ( @w4Stat != 1 ) {
					<text><a href='start.cshtml?form=8'>I-9 Eligibility form</a> | </text>
				} if ( @i9Stat != 1 ) {
					<text><a href='start.cshtml?form=9'>Iowa State Tax Form</a> | </text>
				} if ( @iaTaxStat != 1) {
					<text><a href='start.cshtml?form=10'>Review and Submit</a> </text>
				}
            }
        
    </body>
</html>
