@{
    //Connect to our Database
    var db = Database.Open("kinglandDatabase");    

    //Grab the Field (location/division/functional area)
    var field = Request.Params["name"];

    //Grab the name of said field
    var value = Request.Params["val"];

    var fieldDelete = @field + "delete";
    var fieldName = @field + "name";
    var fieldAdd = @field + "add";
}


		<p style="float:right;position:relative;left:50px;text-align:center;">
			Delete:</br> <input type="checkbox" name="@fieldDelete" value="delete">
		</p>
		
		<div style="clear:none;float:left;width:100px;margin-right:15px;">
			<p> Name: </br>
            @{
				if ( value.Equals("Add New...") ) {
					<input type="text" name="@fieldName">
					<input type="hidden" name = "@fieldAdd" value="add">
				} else {
					<input type="hidden" name="@fieldName"	value="@value">
				@value
				}
             }
			</p>
		</div>
    @{
		//Note this will only print out with an existing address. So we'll add an if block to catch our "add new"
		//which doesn't have an existing address!
		if ( field == "location" ) {
			var listAddress = db.Query("SELECT * FROM location WHERE location = @0", value);
			foreach ( var address in listAddress ) {
				<div style="clear:none;float:right;width:175px;">
					<p> Address: <br />
						<input name="address" type="text" value="@address.address">
					</p>
				</div>
			}
			
			if ( value == "Add New..." ) {
				<div style="clear:none;float:right;width:175px;">
					<p> Address: <br />
						<input name="address" type="text">
					</p>
				</div>
			}
		} 
     }
		

		
		<input type="hidden" name="@field" value="set">